{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c2.jpg" alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img1.jpg" alt="product image">
            </div>
            <div class="itemname">Wireless Mouse</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img2.jpg" alt="product image">
            </div>
            <div class="itemname">1 TB External SSD</div>
            <div class="itemprice">Price: Rs.10,000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img3.jpg" alt="product image">
            </div>
            <div class="itemname">Wireless Modem</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img4.jpg" alt="product image">
            </div>
            <div class="itemname">Mobile WiFi Hotspot</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img5.jpg" alt="product image">
            </div>
            <div class="itemname">Optical Fingerprint Sensor Module</div>
            <div class="itemprice">Price: Rs.1700.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img6.jpg" alt="product image">
            </div>
            <div class="itemname">64GB Memory Card</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img7.jpg" alt="product image">
            </div>
            <div class="itemname">64GB Flash Drive</div>
            <div class="itemprice">Price: Rs.3000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img8.jpg" alt="product image">
            </div>
            <div class="itemname">WiFi Smart Security Camera</div>
            <div class="itemprice">Price: Rs.2900.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img9.jpg" alt="product image">
            </div>
            <div class="itemname">4K Pen Camera</div>
            <div class="itemprice">Price: Rs.4900.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/img10.jpg" alt="product image">
            </div>
            <div class="itemname">1080p Web Camera</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
    </div>
</div>
{% endblock  %}